<div id="sidebar" class="sidebar-wrapper bg1">
  <div class="sidebar-content">
    <div class="sidebar-brand">
      <img src="./assets/media/logos/Adminsure_logo.PNG" />
    </div>
    <div class="sidebar-menu">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Worker's Compensation
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul>
            <li><a mat-button routerLink="/report">Worker's Compensation 1</a></li>
          </ul>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              General Liability
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul>
            <li><a mat-button>General Liability 1</a></li>
          </ul>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Subheaders
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul>
            <li><a mat-button>Subheaders 1</a></li>
          </ul>
        </mat-expansion-panel>

      </mat-accordion>
    </div>
  </div>
</div>
