.section--button {
  color: #959cb6;
  background-color: rgb(1, 29, 51);
}

.section--button:hover {
  color: rgb(1, 29, 51);
  background-color: transparent;
}

.pointer {
  cursor: pointer;
}

.section--button__margin {
  margin-left: 2px;
  margin-right: 2px;
}
