<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">
    <div class="kt-login__body">
      <div class="kt-login__form">
        <form class="kt-form" #f="ngForm" (ngSubmit)="onForgetPassword(f)">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Email" ngModel name="email" autocomplete="off"
              required #emailInput="ngModel" />
            <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="alert alert-danger">
              <div *ngIf="emailInput.hasError('required')">
                Email is required.
              </div>
            </div>
          </div>
          <div class="mt-4">
            <button type="submit" id="kt_login_signin_submit" class="btn btn-primary btn-elevate as_btn">
              Send Link
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>