<mat-toolbar>
    <span>
        <a *ngIf="!toggleFlag" (click)="onHeaderClick()">
            <mat-icon class="fas fa-angle-double-right pointer"></mat-icon>
        </a>
        <a *ngIf="toggleFlag" (click)="onHeaderClick()">
            <mat-icon class="fas fa-angle-double-left pointer"></mat-icon>
        </a>
        <img src="./assets/media/logos/AdminSureLogo.jpg" />
    </span>

    <!-- This fills the remaining space of the current row -->
    <span class="row-spacer"></span>

    <span><img src="./assets/media/logos/co.jpg" /></span>
    <span><button mat-button>Hi, User</button></span>
</mat-toolbar>
<hr />
<section fxLayout="row">
    <span>Home / Dashboard</span>
    <span class="row-spacer"></span>
    <span>
        <button mat-button class="section--button" [routerLink]="['report']">Publish</button>
        <span class="spacer"></span>
        <button mat-button class="section--button section--button__margin">Write</button>
    </span>
</section>