<div class="kt-grid kt-grid--ver kt-grid--root">
  <div
    class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1"
    id="kt_login"
  >
    <div
      class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile"
    >
      <div
        class="kt-grid__item kt-grid__item--order-tablet-and-mobile-2 kt-grid kt-grid--hor kt-login__aside"
        style="background-image: url(./assets/media//bg/bg-4.jpg); height:625px;"
      >
        <div class="kt-grid__item">
          <a href="pages/login.html" class="kt-login__logo">
            <img [src]="ClientDetails.vendorImage" style="width:35%;" />
          </a>
        </div>
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
          <div class="kt-grid__item kt-grid__item--middle">
            <h3 class="kt-login__title">
              Welcome to {{ ClientDetails.vendorName }}
            </h3>
            <h4 class="kt-login__subtitle">
              {{ ClientDetails.vendorDescription }}
            </h4>
          </div>
        </div>
        <div class="kt-grid__item">
          <div class="kt-login__info">
            <div class="kt-login__copyright">
              {{ ClientDetails.vendorCopyright }}
            </div>
            <div class="kt-login__menu">
              <a
                href="https://www.adminsure.com/Terms.aspx"
                target="_blank"
                class="kt-link"
                >Terms and Conditions</a
              >
              <a
                href="https://www.adminsure.com/Contact.aspx"
                class="kt-link"
                target="_blank"
                >Contact</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper"
      >
        <div class="kt-login__body">
          <div class="kt-login__form">
            <div class="mt-1">
              <h3>Sign In To {{ ClientDetails.vendorName }}</h3>
            </div>
            <form class="kt-form" name="form" action="" novalidate="novalidate">
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Email"
                  name="email"
                  autocomplete="off"
                  [(ngModel)]="userLoginModel.username"
                  #email="ngModel"
                  required
                  email
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  type="password"
                  placeholder="Password"
                  name="password"
                  [(ngModel)]="userLoginModel.password"
                  #password="ngModel"
                  required
                  minlength="8"
                />
              </div>
              <div class="row kt-login__extra mt-4">
                <div class="col">
                  <label class="kt-checkbox">
                    <input type="checkbox" name="remember" /> Remember me
                    <span></span>
                  </label>
                </div>
                <div class="col kt-align-right">
                  <a routerLink="/forgotPassword" id="" class="as_link"
                    >Forget Password ?</a
                  >
                </div>
              </div>
              <div class="mt-4">
                <button
                  id="kt_login_signin_submit"
                  class="btn btn-primary btn-elevate as_btn"
                  (click)="login()"
                >
                  Sign In
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
