/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400, 700);
body {
  font-family: 'Open Sans', sans-serif;
}

/* This fills the remaining space, by using flexbox. */
.row-spacer {
  flex: 1 1 auto;
}

.report {
  width: 100%;
  margin-top: 2px;
}

.chip__margin {
  margin-right: 20px;
}

.applyCursor {
  cursor: pointer !important;
}
