<app-header class="mat-header" [showCard]="isCardOpened"></app-header>

<section class="cards" fxLayout fxFill fxLayoutAlign="center start" fxLayoutGap="10px">
    <mat-card fxFlex="400px">
        <mat-card-title fxLayoutAlign="center">Severity Scoring</mat-card-title>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content fxLayoutAlign="center">
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
            <button type="submit" mat-button color="accent">Go</button>
        </mat-card-actions>
    </mat-card>
    <mat-card fxFlex="400px">
        <mat-card-title fxLayoutAlign="center">Claim Analysis</mat-card-title>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content fxLayoutAlign="center">
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
            <button type="submit" mat-button color="accent" (click)="GoToDashboard()">Go</button>
        </mat-card-actions>
    </mat-card>
</section>